<div>
  <h1>Clientes</h1>
  <table class="table">
    <tr>
      <td>ID</td>
      <td>Nome</td>
      <td>Endereço</td>
      <td>Cidade</td>
      <td>E-mail</td>
    </tr>
    <tr *ngFor="let cliente of clientes; let i = index">
      <td>{{cliente.id}}</td>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.endereco}}</td>
      <td>{{cliente.cidade}}</td>
      <td>{{cliente.email}}</td>
      <td><button (click)="edit(cliente)">Editar</button>&nbsp;&nbsp;<button (click)="delete(cliente)">Deletar</button></td>
    </tr>
  </table>
</div>
<section>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-10">
      <h2>{{ formLabel }}</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-4">Nome:</label>
            <div class="col-xs-12 col-sm-6">
              <input class="form-control" type="text" formControlName="nome" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-4">Endereço:</label>
            <div class="col-xs-12 col-sm-6">
              <input class="form-control" type="text" formControlName="endereco" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-4">Cidade:</label>
            <div class="col-xs-12 col-sm-6">
              <input class="form-control" type="text" formControlName="cidade" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-12 col-sm-4">E-mail:</label>
            <div class="col-xs-12 col-sm-6">
              <input class="form-control" type="text" formControlName="email" />
            </div>
          </div>
          <div class="form-footer col-xs-12 col-sm-6">
            <button type="submit" [disabled]="!form.valid">Submeter</button>
            <button type="button" (click)="cancel()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>