<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">CoreAngular</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/home']">
                <span class='glyphicon glyphicon-home'></span> Home
              </a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/cliente']">
                <span class='glyphicon glyphicon-list-alt'></span> Clientes
              </a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/counter']">
                <span class='glyphicon glyphicon-education'></span> Counter
              </a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/fetch-data']">
                <span class='glyphicon glyphicon-th-list'></span> Fetch data
              </a>
            </li>
          </ul>
        </div>
    </div>
</div>
